html{
    height: 100%;
}

header {
    margin: 1%;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
/*Titres des pages*/
h1 {
    text-align: center;
    color: blueviolet;
    font-size: 50px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px black;
    border: 3px solid blueviolet;
    background: linear-gradient(45deg,black,white);
}
p{
   font-size: 20px;
    margin: 30Px;
}

label {
    margin: 30px;
    font-size: 20px;
}
nav {
    width: 100%;
    align-items: center;

}
.p1{
    position: relative;
    margin-left: 88%;
}
/*Ecriture sur les objets en première page*/
.p2{
    text-decoration: underline;
}
.searchbar{
  margin-left: 30px;


}
#searchbar{
  border-radius: 20px;

}
/*Sous-titres*/
h2 {
    font-size: 50px;
    margin: 30px;
}

.div{
    padding-top: 0px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

/*images*/
img {
    width: 400px;
    height: auto;
    justify-items: auto;
}
/*image du Rocket stove*/
.img2{
    width: 300px;
}

/*Champ de la création de compte*/
legend {

    font-size: 50px;
}

section {
    text-align: center;
    font-size: 20px;
}
.container {
    margin: 0px 0px 20px 20px;

}
/*Contenus de Enchères et s'incrire page accueil*/
.content{
    column-count: 2;
}
/*Contenus de la recherche page d'accueil*/
.content2{
    column-count: 2;
    display: flex;
    flex-direction: row;
}
.content2 .gauche{
    padding-top: 10px;
    padding-left: 300px;
    padding-right: 0%;
    column-width: 50%;
    float: left;
}
.gauche{

    border: 3px solid green;

}
.content2.droite{
    padding-right: 300px;
    float: right;
    border: 3px solid red;
    column-width: 50%;
}
/*photos et commentaires de la page d'accueil*/
.content3{
    margin-top: 5px;
    column-count: 4;
}


/*boutons*/
.button {

    background-color: white;
    border-radius: 7px;
    box-sizing: content-box;
    box-shadow: 6px 6px grey;
    border: 4px, black;
    font-size: 30px;
    padding: 5px;
}

.button:hover{
    background-color: grey;
    color: white;

}
/*bouton*/
.button2 {
    background-color: white;
    border-radius: 7px;
    border: 4px, black;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    box-shadow: 6px 6px grey;
    margin: 10px;

}

.element1 {
    width: 98%;
    padding:0 0 10px 10px;
    float:right
    ;
    height:100%;
}

.element2 {
    width: 98%;
    padding:0 0 10px 10px;
    float:left;
    height:100%;
}
/*couleur de "S'inscrire - Se connecter"*/
a {
    color:black
}

a:hover {
    color: blue;
}

.div2{
    text-align: right;
    padding-right: 30px;
    padding-top: 50px;
}

.deroulant > a::after{
    content: "";
    font-size: 12px;
}

footer {
    color: blueviolet;
    border-radius: 10px;
    box-shadow: 6px 6px 0px black;
    border: 3px solid blueviolet;
    background: linear-gradient(180deg,grey,white);
    position: absolute;bottom: 0;left: 0;right: 0;
    margin: 1%;
}
/*Informations dans le footer*/
.p3 {
    height: 0.2px;


}